/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */


@font-face {
	font-family: intro; 
	src: url(../fonts/Intro-Bold.eot);
	font-weight: bold;
  }

@font-face {
	font-family: intro; 
	src: url(../Intro-Bold.woff);
	font-weight: bold;
  }

@font-face {
	font-family: intro; 
	src: url(../fonts/Intro-Bold.woff2);
	font-weight: bold;
  }


* {
    border: 0px dashed green;
}
/* ====================
     All screen sizes
   ==================== */

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color:black;
}

h1 {
	font-family: intro;
	font-size: 45px;
	color: #000000;
	text-transform: uppercase;
}

h2 {
	font-family: intro;
	font-size: 40px;
	color: #000000;
	text-transform: uppercase;
}

h3 {
	font-family: intro;
	font-size: 30px;
	color: #000000;
	text-transform: uppercase;
}
    
nav {
	height: 80px;
	max-width: 900px;
	margin: 0 auto;
	display:flex;
	align-items: center;
	}

a #logo{
	width:200px;
	height:38px;
}


.links {
	width:100%;
	display:flex;
	padding:0px;
	justify-content: flex-end;
}

.link {
	margin-left: 20px;

}


.main-wrapper {
	width:1024px;
	margin: 0 auto;
}



.hero {
	width: 100%;
	max-width:1440px;
	margin: 0 auto;
	height:560px;
	background-color: #d8d8d8;
	background-image: url(../images/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero_h1 {
	padding-top: 130px;
	font-size: 50px;
text-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}


.hero_description {
	width: 390px;
	font-size: 18px;
	color: #000000;
	text-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}

.element {
	width:100%;
	height:auto;
	display:flex;
	margin: 70px 0;
}

.services {
	max-width:900px;
	height:auto;
	margin: 70px auto 0;
}

.service {
	width:100%;
	height:auto;
	display:flex;
}

.service-header {
	width:100%;
	text-align: center;
	margin-bottom: 60px;
}

.service-col-l {
	width:50%;
	margin-right: 20px;
	display:flex;
	flex-direction: column;
}

.service-col-r {
	width:40%;
	margin-right: 20px;
	display:flex;
	flex-direction: column;
}

.service-points {
	margin-bottom: 10px;
	display: flex;
}

.count {
	border: solid 4px #d4161d;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	height: 25px;
	width:25px;
	text-align: center;
	vertical-align: middle;
}

.service_text {
	margin-bottom: 20px;
	display: flex;
}

.e_img {
	width: 60%;
	height:513px;
}
	
.e_text {
	width: 40%;
	}

.e_textwrap {
	padding:13%;
	padding-top:100px;
}

.c-white {
	color: white;
}

.e_h2 {
}

.e_description {
	max-width: 260px;
	font-size: 14px;
	color: #7c7c7c;
	margin-bottom: 40px;
}

.e_link {
	border: solid 4px #d4161d;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	padding:5px;
	}



.hero_text {
	max-width:900px;
	margin: 0 auto;
}

/* Images */

#kupe {
	background-image: url(../images/kupe.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#garderob {
	background-image: url(../images/gaderob.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#k_mebel {
	background-image: url(../images/k-mebel.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#o_rabot {
	background-image: url(../images/o_rabot.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#d_project {
	background-image: url(../images/d-project.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#p1 {
	background-image: url(../images/p1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

#p2 {
	background-image: url(../images/p2-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

#p3 {
	background-image: url(../images/p3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

#p4 {
	background-image: url(../images/p2-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

#p5 {
	background-image: url(../images/p5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

#p6 {
	background-image: url(../images/p6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

a #logo {
	background-image: url(../images/logo.png);
	background-size:contain;
	background-repeat: no-repeat;
	
	
}

#logo {
	background-image: url(../images/logo.png);
	background-size:contain;
	background-repeat: no-repeat;
	
	
}

#portfolio {
	display:flex;
	width:100%;
}

.col1 {
	height:500px;
	width:40%;
	margin:5px;
	display: flex;
	flex-direction:column;
}

.col2 {
	height:500px;
	width:35%;
	margin:5px;
}

.col3 {
	height:500px;
	width:25%;
	margin:5px;
	display: flex;
	flex-direction:column;
}

.row1 {
	margin-bottom: 10px;
	width:100%;
	height:50%;
	display:flex
	
}

.row2 {
	width:100%;
	height:50%;
	
}

.row1-col1 {
	width:100%;
	margin-right: 10px;
		
}

.row1-col2 {
	width:100%;
	height:98%;
	
	
}

footer {
	width:100%;
	display:flex;
	height:auto;
	margin: 80px auto 30px;
	
}

.f_company {
	width:55%;
	height:100%;
	padding-right:10%;

	}

.f_links {
	width:30%;
	height:100%;
	display:flex;
	flex-direction: column;
	}

.f_link {
	margin-bottom:10px;
	font-size: 14px;
}

.service-points-minus {
	margin-bottom: 20px;
}


.f_company_header {
	font-family: intro;
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom:30px;
}

.f_company_text {
	font-size:12px;
}


@media only screen and (max-width: 1024px) {
	
	nav {
	width: 100%;
		margin: 0 auto;
	}
	
	.hero_text {
		width:100%;
		margin: 0 auto;
	}
	
	.main-wrapper {
		width:100%;
		
	}
	
	.e_textwrap {
		padding-left: 10%;
	}
	


@media only screen and (max-width: 900px) {
	
	nav {
	width: 90%;
		margin: 0 auto;
	}
	
	.hero_text {
		width:90%;
		margin: 0 auto;
	}
	
	.main-wrapper {
		width:95%;
		
	}
	
	.e_textwrap {
		padding-left: 10%;
	}
	
	
	h1 {
	font-size: 35px;
	}

h2 {
	font-size: 30px;
	}

}

@media only screen and (max-width: 700px) {
	
	
	nav {
	width: 95%;
		margin: 0 auto;
	}
	
	.hero_text {
		width:95%;
		margin: 0 auto;
	}
	
	.main-wrapper {
		width:95%;
		
	}
	.element {
		display:flex;
		flex-direction: column;
		height:auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.hero_description {
		width:100%;
	}
	
	.e_text {
		width:100%;
		order:2;
	}
	.e_img {
	width:100%;
		order:-1;
		height:320px;
	}
	
	.e_textwrap {
		padding-top: 0px;
	}
	
	a #logo {
		width:100px;
		height:28px;
	}
	
	.link {
		margin-left: 10px;
		font-size:13px;

	}
	
	footer {
		display:block;
		width: 95%;
		margin: 0 auto;
		margin-top:40px;
	}
	
	.f_company {
	width:100%;
		margin-bottom:40px;
	
	}

	.f_links {
	width:100%;
	}
	
	.f_link {
		padding: 0;
	}
	
	#portfolio {
	width:95%;
		display: flex;
	flex-direction:column;
}
	

.col1 {
	height:auto;
	width:100%;
	display: flex;
	flex-direction:column;
}

.col2 {
	height:300px;
	width:100%;
}

.col3 {
	height:auto;
	width:100%;
	margin:5px;
	display: flex;
	flex-direction:column;
}

.row1 {
	height:auto;
	width:100%;
	display: flex;
	flex-direction:column;
	
}

.row2 {
	width:100%;
	height:300px;
	
}

.row1-col1 {
	width:100%;
	height:300px;
	margin-bottom:10px;
	
}

.row1-col2 {
	width:100%;
	height:400px;
	
}
	
	.services {
		width:95%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
	
	.service-header {
		margin-bottom:0px;
	}
	
	.service {
		width:100%;
		display: flex;
		flex-direction: column;
	}
	
	.service-col-l {
	width:100%;
}

.service-col-r {
	width:100%;
	}
	
	.service_count {
	font-size: 15px;
	font-weight: bold;
	padding-left:10px;
	padding-right:10px;
	height:25px;
	text-align: center;
	vertical-align: middle;	
	}
	
}
